---
Language: C
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
TabWidth: 8
ColumnLimit: 80

# Function and brace style
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesBeforeTrailingComments: 1

# Pointer alignment
PointerAlignment: Right

# Line breaking
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 100000

# Alignment
AlignTrailingComments: true
AlignEscapedNewlines: Left

# Other
SortIncludes: CaseSensitive
ReflowComments: true
