---
Language: C
# This sets the base to a style that prefers broken braces
BreakBeforeBraces: Allman

# This forces the return type to be on its own line for all functions
AlwaysBreakAfterReturnType: AllDefinitions

# Tab and Indentation settings
UseTab: Never                                            
IndentWidth: 8                                                               
TabWidth: 8                                                          

# General cleanup
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
---
